body {
    display: flex;
    align-items: center;
    background-color: darkslategrey;
    color: aliceblue;
    flex-direction: column;
}

.addPlayerContainer {
    font-weight: bold;
}

.playerName {
    display: inline-block;
    flex-direction: row;

}